interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:33:08 GMT
      Repeatability-Request-Id:
      - 90905214-007a-11ef-92b6-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:33:08 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:33:09.2585259+00:00",
        "validFrom": "2024-04-22T07:33:08.9392998+00:00", "validUntil": "2024-10-19T07:33:08.9392998+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99437302417989482'
      ms-cv:
      - NsBhTlvu6UGPfhVSi8IdLw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 07:33:09 GMT
    method: DELETE
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: ''
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      ms-cv:
      - g+fmKK2NBES8U2DqGyv1WA.0
    status:
      code: 204
      message: No Content
version: 1
