interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:28:04 GMT
      Repeatability-Request-Id:
      - dbacd958-0079-11ef-a86a-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:28:04 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:28:06.1294015+00:00",
        "validFrom": "2024-04-22T07:28:05.5800347+00:00", "validUntil": "2024-10-19T07:28:05.5800347+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '9948003701679872'
      ms-cv:
      - MkaEQkc8xUuAM0LJoAQavg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:123456c": {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - GGeywqkmwEbmvIr+M7fYvPtgLYHCAoJWqoApBN7ZlcA=
      x-ms-date:
      - Mon, 22 Apr 2024 07:28:06 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized/participants?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "Invalid value for the
        Participants."}}'
    headers:
      api-deprecated-versions:
      - '2022-02-01'
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 5eKxu1H1FEO9qvXa8tMDFw.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
