interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 07:28:04 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - IBcEP3v9uUuqf7n9PLcwSQ.0
      x-processing-time:
      - 76ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2024-04-22T08:28:04.503118", "validUntil": "2024-04-22T09:28:04.503118",
      "pstnDialOutEnabled": true, "participants": {"8:acs:5fa39ce4-6760-473e-a534-1656751a855d_0000001f-a496-1501-adc8-3e3a0d003dc0":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:28:05 GMT
      Repeatability-Request-Id:
      - dc41bb03-0079-11ef-86fd-e4fd45a09c30
      x-ms-content-sha256:
      - 9+jV0DPDxC0yMsLLCVtVhufX3eHp6ycTIEIgdnJR4os=
      x-ms-date:
      - Mon, 22 Apr 2024 07:28:05 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:28:06.8387756+00:00",
        "validFrom": "2024-04-22T08:28:04.503118+00:00", "validUntil": "2024-04-22T09:28:04.503118+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99413006553544664'
      ms-cv:
      - 5zAoRjTKqEmcUxIzje5whw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
