interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/feb79b82-b2d1-4f54-bed2-493d2e46e1e9?api-version=2021-03-07
      ms-cv:
      - mS9Do5zMkkG3da4t6lbbMw.0
      operation-id:
      - search_feb79b82-b2d1-4f54-bed2-493d2e46e1e9
      operation-location:
      - /phoneNumbers/operations/search_feb79b82-b2d1-4f54-bed2-493d2e46e1e9?api-version=2021-03-07
      search-id:
      - feb79b82-b2d1-4f54-bed2-493d2e46e1e9
      x-processing-time:
      - 2041ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/search_feb79b82-b2d1-4f54-bed2-493d2e46e1e9?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/feb79b82-b2d1-4f54-bed2-493d2e46e1e9?api-version=2021-03-07",
        "createdDateTime": "2024-04-22T09:54:33.2506537+00:00", "id": "search_feb79b82-b2d1-4f54-bed2-493d2e46e1e9",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/feb79b82-b2d1-4f54-bed2-493d2e46e1e9?api-version=2021-03-07
      ms-cv:
      - jLX6wPR01UeczADwHeb9xA.0
      x-processing-time:
      - 252ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/searchResults/feb79b82-b2d1-4f54-bed2-493d2e46e1e9?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "feb79b82-b2d1-4f54-bed2-493d2e46e1e9", "phoneNumbers":
        ["+18339873860"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T10:10:34.4262981+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 2lQy3XkvGUGEG9PFGRKjQg.0
      x-processing-time:
      - 679ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "feb79b82-b2d1-4f54-bed2-493d2e46e1e9"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ub563pZ7oG+pGVGtCEDJBhviuJI4D1WUg9Y1lB9GR1o=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - rsnFPq/N1kSPi29379ZQxA.0
      operation-id:
      - purchase_feb79b82-b2d1-4f54-bed2-493d2e46e1e9
      operation-location:
      - /phoneNumbers/operations/purchase_feb79b82-b2d1-4f54-bed2-493d2e46e1e9?api-version=2021-03-07
      purchase-id:
      - feb79b82-b2d1-4f54-bed2-493d2e46e1e9
      x-processing-time:
      - 1124ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/purchase_feb79b82-b2d1-4f54-bed2-493d2e46e1e9?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T09:54:33.2506537+00:00", "id": "purchase_feb79b82-b2d1-4f54-bed2-493d2e46e1e9",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8FtW1vwhzU23aATXI4o1VQ.0
      x-processing-time:
      - 246ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - auWCOl4c4jBwlZM3iLkYPxDCr+1rmP2it8Uiaj0sEJE=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - T31rd71kXk2CU1QLUb9MDg.0
      x-processing-time:
      - 1178ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
