interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 07:31:31 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Rt2T0nGcP06ERXFVAqUAUg.0
      x-processing-time:
      - 57ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true, "participants":
      {"8:acs:8261c457-f4fb-4a1f-9d7c-6861c4c22dfe_0000001f-a499-3ccc-08c8-3e3a0d007252":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:31:32 GMT
      Repeatability-Request-Id:
      - 57760fce-007a-11ef-acb4-e4fd45a09c30
      x-ms-content-sha256:
      - At+2471ksDxkDcc57Btl4z2hzrrrf/WiGWTVSaZ87UM=
      x-ms-date:
      - Mon, 22 Apr 2024 07:31:32 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:31:33.0149453+00:00",
        "validFrom": "2024-04-22T07:31:32.8971402+00:00", "validUntil": "2024-10-19T07:31:32.8971402+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99479742176045520'
      ms-cv:
      - qR9sw8eUEUmo0mV5cUxlRg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
