interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 10:21:13 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - oSvgmw7YJEm/7YXTyyKAAw.0
      x-processing-time:
      - 55ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true, "participants":
      {"8:acs:0f9a16f5-700a-44de-8abf-cec5c6d291e8_0000001f-a534-99df-04c8-3e3a0d00393d":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:21:14 GMT
      Repeatability-Request-Id:
      - 0c29a190-0092-11ef-a148-e4fd45a09c30
      x-ms-content-sha256:
      - mEWZDmMS3mv8axnQR0hNrsYabEwA4+iTbTQULcKXLAU=
      x-ms-date:
      - Mon, 22 Apr 2024 10:21:14 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:21:14.6675273+00:00",
        "validFrom": "2024-04-22T10:21:14.5377796+00:00", "validUntil": "2024-10-19T10:21:14.5377796+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99434646756350824'
      ms-cv:
      - lJ4PXQZOY0WETcuohdM6KQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
