interactions:
- request:
    body: '{"validFrom": "2024-04-22T11:21:10.403483", "validUntil": "2024-11-08T10:21:10.403483",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:21:10 GMT
      Repeatability-Request-Id:
      - 09fef7d3-0092-11ef-a989-e4fd45a09c30
      x-ms-content-sha256:
      - 5tJO2AycGCyxmVK1K63cwUVIa2G4XnpowgJc72N2qh0=
      x-ms-date:
      - Mon, 22 Apr 2024 10:21:10 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range is incorrect, or larger than 180
        days.", "target": "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PMaFvrRcj0iN2AbAz4ULcA.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
