interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:28:04 GMT
      Repeatability-Request-Id:
      - db9ee72b-0079-11ef-ac69-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:28:04 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:28:05.4849657+00:00",
        "validFrom": "2024-04-22T07:28:05.3767871+00:00", "validUntil": "2024-10-19T07:28:05.3767871+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99437363766140486'
      ms-cv:
      - /sPngdwhnUG56no69xJa1Q.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
