interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:36:30 GMT
      Repeatability-Request-Id:
      - 091f644b-007b-11ef-ba8c-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:36:30 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:36:31.175611+00:00",
        "validFrom": "2024-04-22T07:36:31.0403238+00:00", "validUntil": "2024-10-19T07:36:31.0403238+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99442669932850009'
      ms-cv:
      - r84InXHSqE2PopCZsBQJGw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 07:36:31 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:36:31.175611+00:00",
        "validFrom": "2024-04-22T07:36:31.0403238+00:00", "validUntil": "2024-10-19T07:36:31.0403238+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Kn3o2DWQm0SeTRuaxTSigg.0
    status:
      code: 200
      message: OK
version: 1
