interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Mon, 22 Apr 2024 09:35:10 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-04-23T09:35:10.7592675+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zyP/tVYax0Wjz/YIKvrYoQ.0
      x-processing-time:
      - 102ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "yet-another-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - fc995c3b-0804-4d19-b3c0-c946d9d41217
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "yet-another-topic", "createdOn":
        "2024-04-22T09:35:12Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3Al_VcJn9KcS4-0TjRrnsj7eEKsu136zFN3_uqRIBHkBA1@thread.v2
      ms-cv:
      - Ur5H+WF8F0WFsUjdhSiPUQ.0
      x-processing-time:
      - 1124ms
    status:
      code: 201
      message: Created
- request:
    body: '{"content": "Hello!", "type": "text"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads/sanitized/messages?api-version=2023-11-07
  response:
    body:
      string: '{"id": "sanitized"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3Al_VcJn9KcS4-0TjRrnsj7eEKsu136zFN3_uqRIBHkBA1@thread.v2/messages/1713778514248
      ms-cv:
      - rgaSrEan3024wZH0cpTiSA.0
      x-processing-time:
      - 1625ms
    status:
      code: 201
      message: Created
version: 1
