interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:36:36 GMT
      Repeatability-Request-Id:
      - 0ca3ac20-007b-11ef-bfe8-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:36:36 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:36:37.50113+00:00",
        "validFrom": "2024-04-22T07:36:37.1266933+00:00", "validUntil": "2024-10-19T07:36:37.1266933+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99456608533428806'
      ms-cv:
      - Fnb9/Ko23k6J1bGYBTcKvg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2022-11-22T19:14:59.829926+00:00", "validUntil": "2022-11-23",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - VztSYEdQgt6r3uF5baFbPI5NYeeCpmEDvnwtcY9SMtw=
      x-ms-date:
      - Mon, 22 Apr 2024 07:36:37 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 81ef9SS0SUGcXkE42RB7HQ.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
