interactions:
- request:
    body: '{"validFrom": "2024-04-22T11:21:13.800205", "validUntil": "2024-04-22T12:21:13.800205",
      "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:21:13 GMT
      Repeatability-Request-Id:
      - 0c04ebe3-0092-11ef-a80c-e4fd45a09c30
      x-ms-content-sha256:
      - LVseNmQmCelz1cGVvIRexAYBN0hw8KHdJHDJg91+dk0=
      x-ms-date:
      - Mon, 22 Apr 2024 10:21:13 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:21:14.6140907+00:00",
        "validFrom": "2024-04-22T11:21:13.800205+00:00", "validUntil": "2024-04-22T12:21:13.800205+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99476574041280229'
      ms-cv:
      - s0s8W8qby0e39AAX2OVryg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
