interactions:
- request:
    body: '{"validFrom": "2024-04-22T11:19:34.387780", "validUntil": "2024-04-22T08:19:34.387780",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:19:34 GMT
      Repeatability-Request-Id:
      - d0c88d17-0091-11ef-965f-e4fd45a09c30
      x-ms-content-sha256:
      - v7E217letcLditIkqSZJlxW2D486TFvm3MSGrL3rSt0=
      x-ms-date:
      - Mon, 22 Apr 2024 10:19:34 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - h8XqMeXsIka0IGS1AGvFew.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
