interactions:
- request:
    body: '{"validFrom": "2024-04-22T08:31:27.257038", "validUntil": "2024-11-08T07:31:27.257038",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:31:27 GMT
      Repeatability-Request-Id:
      - 5478d433-007a-11ef-a113-e4fd45a09c30
      x-ms-content-sha256:
      - KuNlkG9z3WKLzs3BV8li0PhwYRLxvgdUgXdwD8LZod0=
      x-ms-date:
      - Mon, 22 Apr 2024 07:31:27 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range is incorrect, or larger than 180
        days.", "target": "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - K86413Y4nEeHt5qCXpT/dw.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
