interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:26:17 GMT
      Repeatability-Request-Id:
      - c0f7ed47-0092-11ef-b55e-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 10:26:17 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:26:18.2863884+00:00",
        "validFrom": "2024-04-22T10:26:17.9550806+00:00", "validUntil": "2024-10-19T10:26:17.9550806+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99495825614472761'
      ms-cv:
      - i6ryBkAxTkaWRwtnF/Ctig.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 10:26:18 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - gbHzIYugLEWW7PD1bo3BzA.0
      x-processing-time:
      - 55ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {"8:acs:d7886e7a-c780-4532-9418-39ef05c763a9_0000001f-a539-4003-adc8-3e3a0d0068d5":
      {"role": "Presenter"}, "8:acs:d7886e7a-c780-4532-9418-39ef05c763a9_0000001f-a539-420a-edbe-a43a0d006e46":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - YfcA5hhFWtgwYg8aBz3J8xatKiErGB7+t2TDhQHynGA=
      x-ms-date:
      - Mon, 22 Apr 2024 10:26:19 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized/participants?api-version=2023-10-30-preview
  response:
    body:
      string: '{}'
    headers:
      api-deprecated-versions:
      - '2022-02-01'
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - pN0p0p/Bt0iI0ajeNM5dcQ.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 10:26:19 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized/participants?api-version=2023-10-30-preview
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Presenter"}, {"rawId": "sanitized",
        "role": "Consumer"}]}'
    headers:
      api-deprecated-versions:
      - '2022-02-01'
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - UjPOuHcteU+9MxS70lPE8w.0
    status:
      code: 200
      message: OK
version: 1
