interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:27:47 GMT
      Repeatability-Request-Id:
      - f6dff52f-0092-11ef-b860-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 10:27:47 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:27:48.8091615+00:00",
        "validFrom": "2024-04-22T10:27:48.4241527+00:00", "validUntil": "2024-10-19T10:27:48.4241527+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99483637602019884'
      ms-cv:
      - 5jRkH9YnL0K0ljvSNJGcTg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - QQKbDQ8A0x7b9852DAZ3wjSpELmfU1PGiuAyzF0GbQg=
      x-ms-date:
      - Mon, 22 Apr 2024 10:27:49 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:27:48.8091615+00:00",
        "validFrom": "2024-04-22T10:27:48.4241527+00:00", "validUntil": "2024-10-19T10:27:48.4241527+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PUAstlTqOUml9WCSFOaAeQ.0
    status:
      code: 200
      message: OK
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 10:27:50 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:27:48.8091615+00:00",
        "validFrom": "2024-04-22T10:27:48.4241527+00:00", "validUntil": "2024-10-19T10:27:48.4241527+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - HejZWO58906ZOXyY91TT5A.0
    status:
      code: 200
      message: OK
version: 1
