interactions:
- request:
    body: '{"validFrom": "2024-04-22T11:21:15.826068", "validUntil": "2024-04-22T12:21:15.826068",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:21:15 GMT
      Repeatability-Request-Id:
      - 0d39fe3f-0092-11ef-973c-e4fd45a09c30
      x-ms-content-sha256:
      - KJkSF1421od5b3Ui5W5eA6Dh4FHHJNCqJf3AYIMCO6s=
      x-ms-date:
      - Mon, 22 Apr 2024 10:21:15 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:21:16.5050987+00:00",
        "validFrom": "2024-04-22T11:21:15.826068+00:00", "validUntil": "2024-04-22T12:21:15.826068+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99433545562367687'
      ms-cv:
      - /uggD7tSjkOB63i1+uexew.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
