interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 10:19:31 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 4tnTvGdZZUKGyRqDekA6jw.0
      x-processing-time:
      - 54ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false, "participants":
      {"8:acs:e2ef25d3-6b26-42c9-8121-1131675fa94d_0000001f-a533-0b32-b8ba-a43a0d00978d":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:19:32 GMT
      Repeatability-Request-Id:
      - cf55bef3-0091-11ef-ac07-e4fd45a09c30
      x-ms-content-sha256:
      - +2LysM23DjQdpoMPOgmf8ruAVelG9zqPQlInDFk/cHY=
      x-ms-date:
      - Mon, 22 Apr 2024 10:19:32 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:19:32.6459754+00:00",
        "validFrom": "2024-04-22T10:19:32.4884246+00:00", "validUntil": "2024-10-19T10:19:32.4884246+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99495366203906162'
      ms-cv:
      - uEV7IGxomEWOvD0ll3Q2Fg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
