interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/a727612d-a4cd-4ad0-94f6-fca48b9a5e71?api-version=2021-03-07
      ms-cv:
      - WjTqUUO2VUCFW84SEkGQWw.0
      operation-id:
      - search_a727612d-a4cd-4ad0-94f6-fca48b9a5e71
      operation-location:
      - /phoneNumbers/operations/search_a727612d-a4cd-4ad0-94f6-fca48b9a5e71?api-version=2021-03-07
      search-id:
      - a727612d-a4cd-4ad0-94f6-fca48b9a5e71
      x-processing-time:
      - 3070ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/search_a727612d-a4cd-4ad0-94f6-fca48b9a5e71?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/a727612d-a4cd-4ad0-94f6-fca48b9a5e71?api-version=2021-03-07",
        "createdDateTime": "2024-04-22T09:38:54.7038449+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/a727612d-a4cd-4ad0-94f6-fca48b9a5e71?api-version=2021-03-07
      ms-cv:
      - KOVf2S5mXEuCTYRUelQJ1w.0
      x-processing-time:
      - 229ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/searchResults/a727612d-a4cd-4ad0-94f6-fca48b9a5e71?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "a727612d-a4cd-4ad0-94f6-fca48b9a5e71", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T09:54:55.8189350+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - hzzk7lx6S0mjWytXzKO1wA.0
      x-processing-time:
      - 447ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "a727612d-a4cd-4ad0-94f6-fca48b9a5e71"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - X2F3KnAEkUeTsF85AGagrQLdyoRB3MdkXFw8dcROUHY=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - pFP3eTN3wE2FL4qo/PPYLQ.0
      operation-id:
      - purchase_a727612d-a4cd-4ad0-94f6-fca48b9a5e71
      operation-location:
      - /phoneNumbers/operations/purchase_a727612d-a4cd-4ad0-94f6-fca48b9a5e71?api-version=2021-03-07
      purchase-id:
      - a727612d-a4cd-4ad0-94f6-fca48b9a5e71
      x-processing-time:
      - 1231ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/purchase_a727612d-a4cd-4ad0-94f6-fca48b9a5e71?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T09:38:54.7038449+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - zvopS/KbHEKG9fM3olvj+w.0
      x-processing-time:
      - 265ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2021-03-07
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2024-04-22T09:39:46.9568591+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - v0hEaYPKYU2bjjOYjgcwBg.0
      x-processing-time:
      - 5702ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
