interactions:
- request:
    body: '{"createTokenWithScopes": ["voip", "chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - hlYiA5kT1yt3LwEdaupQDHzQEfodx+8svsStB5uolgw=
      x-ms-date:
      - Mon, 22 Apr 2024 10:04:03 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-04-23T10:04:04.3201958+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZfhzW+MbbUSUTYGjSn5tVg.0
      x-processing-time:
      - 87ms
    status:
      code: 201
      message: Created
version: 1
