interactions:
- request:
    body: '{"validFrom": "2024-04-22T08:29:47.931504", "validUntil": "2024-04-22T05:29:47.931504",
      "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:29:48 GMT
      Repeatability-Request-Id:
      - 194a06f6-007a-11ef-a434-e4fd45a09c30
      x-ms-content-sha256:
      - BgQZrgoY1xMoZZjsqI60Ek0BzZbfQCqbaqNoqsdjqfE=
      x-ms-date:
      - Mon, 22 Apr 2024 07:29:48 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range end is in the past.", "target":
        "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jt/YZjaSw0aSt7FESzNfpA.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
