interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:36:37 GMT
      Repeatability-Request-Id:
      - 0d3800e2-007b-11ef-867f-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:36:37 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:36:37.9221167+00:00",
        "validFrom": "2024-04-22T07:36:37.8661459+00:00", "validUntil": "2024-10-19T07:36:37.8661459+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99411213283808061'
      ms-cv:
      - SV5nNMQX5k2o5DcGscA9YQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 07:36:38 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - m9ETeZX0WUKDfcAKsRGGjQ.0
      x-processing-time:
      - 70ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": {"8:acs:77076ac5-b76a-45e9-b0ae-e2225c3c88a6_0000001f-a49d-e9f5-b8ba-a43a0d00702b":
      {"role": "Presenter"}, "8:acs:77076ac5-b76a-45e9-b0ae-e2225c3c88a6_0000001f-a49d-ecaf-edbe-a43a0d004930":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - epU9iJD0sZj4pISHmIcukOx/KE6YDoOI6Z/GTKgib94=
      x-ms-date:
      - Mon, 22 Apr 2024 07:36:39 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized/participants?api-version=2023-10-30-preview
  response:
    body:
      string: '{}'
    headers:
      api-deprecated-versions:
      - '2022-02-01'
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 6rZXbO55qEufc+LHf2w1xg.0
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 07:36:40 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized/participants?api-version=2023-10-30-preview
  response:
    body:
      string: '{"value": [{"rawId": "sanitized", "role": "Presenter"}, {"rawId": "sanitized",
        "role": "Consumer"}]}'
    headers:
      api-deprecated-versions:
      - '2022-02-01'
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - Sj1EPWi5J0KrwFK0a8knNA.0
    status:
      code: 200
      message: OK
version: 1
