interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 07:29:45 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SqduvN0vG0GDE+BAggTAUA.0
      x-processing-time:
      - 55ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false, "participants":
      {"8:acs:5f1b4d5a-94da-496c-a839-b5d6021a3b71_0000001f-a497-9c88-ceb1-a43a0d00fcde":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:29:45 GMT
      Repeatability-Request-Id:
      - 17ea93cc-007a-11ef-af31-e4fd45a09c30
      x-ms-content-sha256:
      - PWCeTpluQxn8RsgDNEkxjlxkar/kk/+XAR6/3rHMuqM=
      x-ms-date:
      - Mon, 22 Apr 2024 07:29:45 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:29:47.0215344+00:00",
        "validFrom": "2024-04-22T07:29:46.4455685+00:00", "validUntil": "2024-10-19T07:29:46.4455685+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99428685343874009'
      ms-cv:
      - T4PrNDBfDkKXM9jE+9danw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
