interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/a637516f-2808-4ba7-9bca-27c5e177b15c?api-version=2021-03-07
      ms-cv:
      - f3y/+sgPWEmwO2KrHEEx9g.0
      operation-id:
      - search_a637516f-2808-4ba7-9bca-27c5e177b15c
      operation-location:
      - /phoneNumbers/operations/search_a637516f-2808-4ba7-9bca-27c5e177b15c?api-version=2021-03-07
      search-id:
      - a637516f-2808-4ba7-9bca-27c5e177b15c
      x-processing-time:
      - 2378ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/search_a637516f-2808-4ba7-9bca-27c5e177b15c?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/a637516f-2808-4ba7-9bca-27c5e177b15c?api-version=2021-03-07",
        "createdDateTime": "2024-04-22T09:54:33.7097309+00:00", "id": "search_a637516f-2808-4ba7-9bca-27c5e177b15c",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/a637516f-2808-4ba7-9bca-27c5e177b15c?api-version=2021-03-07
      ms-cv:
      - RfACYZXGqEKY1zseZaDhxA.0
      x-processing-time:
      - 239ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/searchResults/a637516f-2808-4ba7-9bca-27c5e177b15c?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "a637516f-2808-4ba7-9bca-27c5e177b15c", "phoneNumbers":
        ["+18339814092"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T10:10:35.0885270+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - bg+7sH5jC0OgelywCZBWTg.0
      x-processing-time:
      - 407ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "a637516f-2808-4ba7-9bca-27c5e177b15c"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - g7HGpSHaIdaYpFRFrq9YTZN/2dCuaHS+AquDL+S54ik=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - WH3rC6xsDUCWn6ehnHEeBg.0
      operation-id:
      - purchase_a637516f-2808-4ba7-9bca-27c5e177b15c
      operation-location:
      - /phoneNumbers/operations/purchase_a637516f-2808-4ba7-9bca-27c5e177b15c?api-version=2021-03-07
      purchase-id:
      - a637516f-2808-4ba7-9bca-27c5e177b15c
      x-processing-time:
      - 1107ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/purchase_a637516f-2808-4ba7-9bca-27c5e177b15c?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T09:54:33.7097309+00:00", "id": "purchase_a637516f-2808-4ba7-9bca-27c5e177b15c",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 8GEM7V7wHkqP4VD0C8bn9w.0
      x-processing-time:
      - 258ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - By+mV+JJWm3CeACQIp/lJzc9GNsyXNzJW5UlTc5OHW8=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - rP748wOKW0iEgbI4enYxxg.0
      x-processing-time:
      - 180ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
