interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:27:59 GMT
      Repeatability-Request-Id:
      - fde87d3e-0092-11ef-81a2-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 10:27:59 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:28:00.7307226+00:00",
        "validFrom": "2024-04-22T10:28:00.3389847+00:00", "validUntil": "2024-10-19T10:28:00.3389847+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99473697027924324'
      ms-cv:
      - BMFXTTnNj0CcFySFylGXaA.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2024-04-22T11:28:00.753876", "validUntil": "2024-04-22T12:28:00.753876",
      "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - 3TtRRpdbpfON5v6d3HWBf/M29gh5y2gP8mohbtOR2Bw=
      x-ms-date:
      - Mon, 22 Apr 2024 10:28:00 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:28:00.7307226+00:00",
        "validFrom": "2024-04-22T11:28:00.753876+00:00", "validUntil": "2024-04-22T12:28:00.753876+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - SQKfhKDb0U+pqv+1PrNHpA.0
    status:
      code: 200
      message: OK
version: 1
