interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": true}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:29:47 GMT
      Repeatability-Request-Id:
      - 18e8059d-007a-11ef-9a60-e4fd45a09c30
      x-ms-content-sha256:
      - QQKbDQ8A0x7b9852DAZ3wjSpELmfU1PGiuAyzF0GbQg=
      x-ms-date:
      - Mon, 22 Apr 2024 07:29:47 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:29:49.521868+00:00",
        "validFrom": "2024-04-22T07:29:49.0742382+00:00", "validUntil": "2024-10-19T07:29:49.0742382+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99421907545180008'
      ms-cv:
      - 2YpRURJA5kKonYlgrnjRVw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:29:50 GMT
      Repeatability-Request-Id:
      - 1a859b47-007a-11ef-9e02-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:29:50 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:29:51.3854458+00:00",
        "validFrom": "2024-04-22T07:29:50.8183826+00:00", "validUntil": "2024-10-19T07:29:50.8183826+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99466748784968500'
      ms-cv:
      - IpvoI2oy1k+ZpgzF02b7wQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
