interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:22:59 GMT
      Repeatability-Request-Id:
      - 4b07dda2-0092-11ef-a305-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 10:22:59 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:23:00.1156303+00:00",
        "validFrom": "2024-04-22T10:23:00.0346756+00:00", "validUntil": "2024-10-19T10:23:00.0346756+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99429129911795787'
      ms-cv:
      - 3KP3h6NqmUKwZoGFkcu9oQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
