interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Mon, 22 Apr 2024 09:31:42 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-04-23T09:31:43.4320469+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xdsFELFO4UW1wr8aqKbWUg.0
      x-processing-time:
      - 89ms
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"value": []}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - cGwbPdwQnE6f+PrfSp0RKA.0
      x-processing-time:
      - 228ms
    status:
      code: 200
      message: OK
version: 1
