interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/d57a7cfe-16a3-405b-bb6f-5e67653cb903?api-version=2021-03-07
      ms-cv:
      - yOu3uVvxGkq16gOxouMboA.0
      operation-id:
      - search_d57a7cfe-16a3-405b-bb6f-5e67653cb903
      operation-location:
      - /phoneNumbers/operations/search_d57a7cfe-16a3-405b-bb6f-5e67653cb903?api-version=2021-03-07
      search-id:
      - d57a7cfe-16a3-405b-bb6f-5e67653cb903
      x-processing-time:
      - 3142ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/search_d57a7cfe-16a3-405b-bb6f-5e67653cb903?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/d57a7cfe-16a3-405b-bb6f-5e67653cb903?api-version=2021-03-07",
        "createdDateTime": "2024-04-22T09:54:34.766457+00:00", "id": "search_d57a7cfe-16a3-405b-bb6f-5e67653cb903",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/d57a7cfe-16a3-405b-bb6f-5e67653cb903?api-version=2021-03-07
      ms-cv:
      - nLHLNcLuE0qmBRr2IMV6FA.0
      x-processing-time:
      - 180ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/searchResults/d57a7cfe-16a3-405b-bb6f-5e67653cb903?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "d57a7cfe-16a3-405b-bb6f-5e67653cb903", "phoneNumbers":
        ["+18559064550"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T10:10:37.8253727+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - g2JJEwErZE+9owkpM7TQCw.0
      x-processing-time:
      - 410ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "d57a7cfe-16a3-405b-bb6f-5e67653cb903"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - M/RQkQLeeMcXf5u0A2QNbaO/E+8cmW5jriBhfnV0yjQ=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - FmBZTEGC9EWnwf5SN2LokA.0
      operation-id:
      - purchase_d57a7cfe-16a3-405b-bb6f-5e67653cb903
      operation-location:
      - /phoneNumbers/operations/purchase_d57a7cfe-16a3-405b-bb6f-5e67653cb903?api-version=2021-03-07
      purchase-id:
      - d57a7cfe-16a3-405b-bb6f-5e67653cb903
      x-processing-time:
      - 1033ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/purchase_d57a7cfe-16a3-405b-bb6f-5e67653cb903?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T09:54:34.766457+00:00", "id": "purchase_d57a7cfe-16a3-405b-bb6f-5e67653cb903",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 963bcdsl70iEOauL5sEJPA.0
      x-processing-time:
      - 199ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - yINOeyzNd9x8r6KxASuOZ+qhvpy43XZ9saNmicwyJ58=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - +skFe/q+fUCOIhlUmGMMKg.0
      x-processing-time:
      - 88ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
