interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:38:19 GMT
      Repeatability-Request-Id:
      - 49f60934-007b-11ef-8c1a-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:38:19 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:38:20.0838898+00:00",
        "validFrom": "2024-04-22T07:38:19.9643234+00:00", "validUntil": "2024-10-19T07:38:19.9643234+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '9942583829919147'
      ms-cv:
      - 0LVYQg1ZoEKSnOesQW79Mw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2024-04-22T08:38:20.131464", "validUntil": "2024-11-08T07:38:20.131464",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - rtMcJxaasFx5yy8Qp3BqeYFDlEtsuImwsw2/JkKmkoI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:38:20 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "The request could not
        be understood by the server due to malformed syntax.", "details": [{"code":
        "BadArgument", "message": "The time range is incorrect, or larger than 180
        days.", "target": "ValidUntil"}]}}'
    headers:
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - a4J5JmMCo0Ci6S+cnVJiwA.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
