interactions:
- request:
    body: '{"createTokenWithScopes": ["chat"]}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - kWpGozyV35fifbpKdY8mbdG64VG0Pdq5upzo7YKAFM0=
      x-ms-date:
      - Mon, 22 Apr 2024 09:26:42 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}, "accessToken": {"token": "sanitized",
        "expiresOn": "2024-04-23T09:26:42.8598086+00:00"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3LXpn5KX+EO4Ry8f26UhJQ.0
      x-processing-time:
      - 91ms
    status:
      code: 201
      message: Created
- request:
    body: '{"topic": "chat-topic", "participants": []}'
    headers:
      Content-Type:
      - application/json
      repeatability-request-id:
      - 1b83f2c4-7357-429a-8f72-f1a643c176e2
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads?api-version=2023-11-07
  response:
    body:
      string: '{"chatThread": {"id": "sanitized", "topic": "chat-topic", "createdOn":
        "2024-04-22T09:26:44Z", "createdByCommunicationIdentifier": {"rawId": "sanitized",
        "communicationUser": {"id": "sanitized"}}}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - https://clitest000002.unitedstates.communication.azure.com/chat/threads/19%3AM6aq1R0p4fcTgPd-TwZ391boNlxmD6BJtnWLxqg4JK81@thread.v2
      ms-cv:
      - CWPnwsjGoUmNn1sA95/oEQ.0
      x-processing-time:
      - 734ms
    status:
      code: 201
      message: Created
[...]
- request:
    body: '{"participants": [{"communicationIdentifier": {"rawId": "sanitized", "communicationUser":
      {"id": "sanitized"}}, "shareHistoryTime": "2022-01-01T00:00:00.000Z"}]}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/chat/threads/sanitized/participants/:add?api-version=2023-11-07
  response:
    body:
      string: '{}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2021-04-05-preview6, 2021-09-07, 2023-04-01-preview, 2023-07-01-preview,
        2023-11-07, 2023-11-15-preview, 2024-03-01-preview, 2024-03-07, 2024-03-15-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - n0F3OCeMfEKzn2IgRm+hhg.0
      x-processing-time:
      - 291ms
    status:
      code: 201
      message: Created
version: 1
