interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false, "participants":
      {"acs:8-invalidMRI": {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:29:48 GMT
      Repeatability-Request-Id:
      - 194c50f7-007a-11ef-883b-e4fd45a09c30
      x-ms-content-sha256:
      - StjPbZ+anErZes8IJRa2STDgsBYIizhcGHmw6U39sio=
      x-ms-date:
      - Mon, 22 Apr 2024 07:29:48 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"error": {"code": "BadRequest", "message": "Invalid format for communication
        identifier."}}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xzczpwhjlUSlRqyLzSOtuw.0
      x-ms-error-code:
      - BadRequest
    status:
      code: 400
      message: Bad Request
version: 1
