interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/44be3382-4467-49ae-a20f-e7ca0fe3b1f8?api-version=2021-03-07
      ms-cv:
      - SobT0q3DM0O0GE6L1YZ1NQ.0
      operation-id:
      - search_44be3382-4467-49ae-a20f-e7ca0fe3b1f8
      operation-location:
      - /phoneNumbers/operations/search_44be3382-4467-49ae-a20f-e7ca0fe3b1f8?api-version=2021-03-07
      search-id:
      - 44be3382-4467-49ae-a20f-e7ca0fe3b1f8
      x-processing-time:
      - 2670ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/search_44be3382-4467-49ae-a20f-e7ca0fe3b1f8?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "notStarted", "resourceLocation":
        "/availablePhoneNumbers/searchResults/44be3382-4467-49ae-a20f-e7ca0fe3b1f8?api-version=2021-03-07",
        "createdDateTime": "2024-04-22T09:54:33.9722782+00:00", "id": "search_44be3382-4467-49ae-a20f-e7ca0fe3b1f8",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/44be3382-4467-49ae-a20f-e7ca0fe3b1f8?api-version=2021-03-07
      ms-cv:
      - tiGBEjzR6Ee7r10NzFP3Tg.0
      x-processing-time:
      - 194ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/searchResults/44be3382-4467-49ae-a20f-e7ca0fe3b1f8?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "44be3382-4467-49ae-a20f-e7ca0fe3b1f8", "phoneNumbers":
        ["+18447330165"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T10:10:36.0783667+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - p4muhoeXEkO+PkA6Eh68ew.0
      x-processing-time:
      - 415ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "44be3382-4467-49ae-a20f-e7ca0fe3b1f8"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - GmYDO9T5lCjhDdjjP1km7gI4XFZwxWQf4OgtBHq2Yu8=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - 6U2zVMAy+EGj06v5QGnE/w.0
      operation-id:
      - purchase_44be3382-4467-49ae-a20f-e7ca0fe3b1f8
      operation-location:
      - /phoneNumbers/operations/purchase_44be3382-4467-49ae-a20f-e7ca0fe3b1f8?api-version=2021-03-07
      purchase-id:
      - 44be3382-4467-49ae-a20f-e7ca0fe3b1f8
      x-processing-time:
      - 1006ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/purchase_44be3382-4467-49ae-a20f-e7ca0fe3b1f8?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T09:54:33.9722782+00:00", "id": "purchase_44be3382-4467-49ae-a20f-e7ca0fe3b1f8",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XpfKFTMmZ0O8F9uMsjKqPA.0
      x-processing-time:
      - 209ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: '{"from": "sanitized", "smsRecipients": [{"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}, {"to": "sanitized", "repeatabilityRequestId":
      "sanitized", "repeatabilityFirstSent": "sanitized"}], "message": "Hello there!!",
      "smsSendOptions": {"enableDeliveryReport": false}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - tRdAs6MQfjNz2o5HVbr9zbq4/7WRJIfTP8x80nkgJGw=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/sms?api-version=2021-03-07
  response:
    body:
      string: '{"value": [{"to": "sanitized", "messageId": "sanitized", "httpStatusCode":
        202, "repeatabilityResult": "accepted", "successful": true}, {"to": "sanitized",
        "messageId": "sanitized", "httpStatusCode": 202, "repeatabilityResult": "accepted",
        "successful": true}]}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview1, 2020-08-20-preview, 2021-03-07, 2023-06-30-privatepreview,
        2024-02-05-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - qL3n6KpF20KWU4RfmsLIkw.0
      x-processing-time:
      - 88ms
    status:
      code: 202
      message: Accepted
    url: sanitized
version: 1
