interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:27:54 GMT
      Repeatability-Request-Id:
      - fb13af04-0092-11ef-a7bf-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 10:27:54 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:27:56.5182022+00:00",
        "validFrom": "2024-04-22T10:27:56.3573973+00:00", "validUntil": "2024-10-19T10:27:56.3573973+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99469837812391966'
      ms-cv:
      - MhQKPDa7CE2xaXlTxbFQAg.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2024-04-22T11:27:56.533214", "validUntil": "2024-04-22T12:27:56.533214",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - GyC0UIZak2NUhdZScCCSHpTmz3XBkRy88ovx0z/OdiI=
      x-ms-date:
      - Mon, 22 Apr 2024 10:27:56 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:27:56.5182022+00:00",
        "validFrom": "2024-04-22T11:27:56.533214+00:00", "validUntil": "2024-04-22T12:27:56.533214+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 9/8KvReuNESEgFIV8rmCCQ.0
    status:
      code: 200
      message: OK
version: 1
