interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:38:18 GMT
      Repeatability-Request-Id:
      - 493854c4-007b-11ef-a664-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:38:18 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:38:19.2267494+00:00",
        "validFrom": "2024-04-22T07:38:18.8045704+00:00", "validUntil": "2024-10-19T07:38:18.8045704+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99485177783371029'
      ms-cv:
      - nKBQLOvXI0ayMlaY4hP+2w.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2024-04-22T08:38:19.411937", "validUntil": "2024-04-22T09:38:19.411937",
      "pstnDialOutEnabled": null}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - D6o9hXyk0FG0ARYjn8sVXeIUCrxZF2Z4zuU4h7nTb/Y=
      x-ms-date:
      - Mon, 22 Apr 2024 07:38:19 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:38:19.2267494+00:00",
        "validFrom": "2024-04-22T08:38:19.411937+00:00", "validUntil": "2024-04-22T09:38:19.411937+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - ZbxkvDOUikGxhyF5raw38Q.0
    status:
      code: 200
      message: OK
version: 1
