interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/f1be6613-04d4-4aee-ba8a-d2fa95e7c022?api-version=2021-03-07
      ms-cv:
      - fqXZW/agjkGn5WZ6mDd4ZA.0
      operation-id:
      - search_f1be6613-04d4-4aee-ba8a-d2fa95e7c022
      operation-location:
      - /phoneNumbers/operations/search_f1be6613-04d4-4aee-ba8a-d2fa95e7c022?api-version=2021-03-07
      search-id:
      - f1be6613-04d4-4aee-ba8a-d2fa95e7c022
      x-processing-time:
      - 3568ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/search_f1be6613-04d4-4aee-ba8a-d2fa95e7c022?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/f1be6613-04d4-4aee-ba8a-d2fa95e7c022?api-version=2021-03-07",
        "createdDateTime": "2024-04-22T09:38:55.1820892+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/f1be6613-04d4-4aee-ba8a-d2fa95e7c022?api-version=2021-03-07
      ms-cv:
      - 15dSznJVfkmGjFgmKPY3Sw.0
      x-processing-time:
      - 245ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/searchResults/f1be6613-04d4-4aee-ba8a-d2fa95e7c022?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "f1be6613-04d4-4aee-ba8a-d2fa95e7c022", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T09:54:57.5307166+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - XHzThp+3ZEyOkqMy5M7QrA.0
      x-processing-time:
      - 417ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "f1be6613-04d4-4aee-ba8a-d2fa95e7c022"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - UC5FlktlAMBmkJtLU3ZfBXiV/5a9DyS4luEDK0yO1EA=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - V8HNSu4emEedcU4gQzOqNA.0
      operation-id:
      - purchase_f1be6613-04d4-4aee-ba8a-d2fa95e7c022
      operation-location:
      - /phoneNumbers/operations/purchase_f1be6613-04d4-4aee-ba8a-d2fa95e7c022?api-version=2021-03-07
      purchase-id:
      - f1be6613-04d4-4aee-ba8a-d2fa95e7c022
      x-processing-time:
      - 1152ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/purchase_f1be6613-04d4-4aee-ba8a-d2fa95e7c022?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T09:38:55.1820892+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - 3ldqz5Hx70utQhCGa4eTgg.0
      x-processing-time:
      - 224ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers?skip=0&top=100&api-version=2021-03-07
  response:
    body:
      string: '{"phoneNumbers": [{"id": "sanitized", "phoneNumber": "sanitized", "countryCode":
        "US", "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound",
        "sms": "inbound+outbound"}, "assignmentType": "application", "purchaseDate":
        "2024-04-22T09:39:42.550996+00:00", "cost": {"amount": 2.0, "currencyCode":
        "USD", "billingFrequency": "monthly"}}]}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - jnITfsNqFEKtvLKe4NL8tQ.0
      x-processing-time:
      - 1668ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
