interactions:
- request:
    body: '{"validFrom": null, "validUntil": null, "pstnDialOutEnabled": false}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 07:33:10 GMT
      Repeatability-Request-Id:
      - 91a7cacb-007a-11ef-8e59-e4fd45a09c30
      x-ms-content-sha256:
      - 2xVVJJKx5brgL5bSWgeu9hhccJP/PkHHEzXUfUClsMI=
      x-ms-date:
      - Mon, 22 Apr 2024 07:33:10 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T07:33:11.1481365+00:00",
        "validFrom": "2024-04-22T07:33:10.7625733+00:00", "validUntil": "2024-10-19T07:33:10.7625733+00:00",
        "pstnDialOutEnabled": false}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '99475146629279088'
      ms-cv:
      - rYqoxPvJOEeka/kZ7CPqoQ.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 07:33:12 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - IerVpFTCXEaNsF68V8T2OA.0
      x-processing-time:
      - 55ms
    status:
      code: 201
      message: Created
- request:
    body: '{"participants": {"8:acs:79824900-75b0-4f47-8ef9-1571b6435b05_0000001f-a49a-c484-b8ba-a43a0d006eee":
      {"role": "Consumer"}}}'
    headers:
      Content-Type:
      - application/merge-patch+json
      x-ms-content-sha256:
      - Vhowstvj6N06/7aA75pRVbyROoDAOML9ObJlLwOruRM=
      x-ms-date:
      - Mon, 22 Apr 2024 07:33:12 GMT
    method: PATCH
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized/participants?api-version=2023-10-30-preview
  response:
    body:
      string: '{}'
    headers:
      api-deprecated-versions:
      - '2022-02-01'
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - PJISm38/OUe1v6gTKSIQPA.0
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 07:33:15 GMT
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/rooms/sanitized/participants?api-version=2023-10-30-preview
  response:
    body:
      string: '{"value": []}'
    headers:
      api-deprecated-versions:
      - '2022-02-01'
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - G5ltwqWBdUCphvM+fBTN1w.0
    status:
      code: 200
      message: OK
version: 1
