interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
      x-ms-date:
      - Mon, 22 Apr 2024 10:17:54 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/identities?api-version=2023-10-01
  response:
    body:
      string: '{"identity": {"id": "sanitized"}}'
    headers:
      api-supported-versions:
      - 2020-07-20-preview2, 2021-02-22-preview1, 2021-03-07, 2021-10-31-preview,
        2021-11-01, 2022-06-01, 2022-10-01, 2023-10-01
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - StULVhGyrEe+XN+n40v4wQ.0
      x-processing-time:
      - 62ms
    status:
      code: 201
      message: Created
- request:
    body: '{"validFrom": "2024-04-22T11:17:54.736910", "validUntil": "2024-04-22T12:17:54.736910",
      "pstnDialOutEnabled": true, "participants": {"8:acs:e4b26156-a12b-4a57-8c9a-e346f728f3d8_0000001f-a531-9184-b8ba-a43a0d00972c":
      {"role": "Presenter"}}}'
    headers:
      Content-Type:
      - application/json
      Repeatability-First-Sent:
      - Mon, 22 Apr 2024 10:17:55 GMT
      Repeatability-Request-Id:
      - 95ba20ed-0091-11ef-92d1-e4fd45a09c30
      x-ms-content-sha256:
      - kT0qfxD+fyVppDsQ9gYdCryCzzuhUn4V04kW9VAfkcA=
      x-ms-date:
      - Mon, 22 Apr 2024 10:17:55 GMT
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/rooms?api-version=2023-10-30-preview
  response:
    body:
      string: '{"id": "sanitized", "createdAt": "2024-04-22T10:17:56.5691837+00:00",
        "validFrom": "2024-04-22T11:17:54.73691+00:00", "validUntil": "2024-04-22T12:17:54.73691+00:00",
        "pstnDialOutEnabled": true}'
    headers:
      api-deprecated-versions:
      - 2021-04-07, 2022-02-01
      api-supported-versions:
      - 2023-03-31-preview, 2023-06-14, 2023-10-30-preview, 2024-04-15
      content-type:
      - application/json; charset=utf-8
      location:
      - '9947525503420988'
      ms-cv:
      - xHWxWLpdTkKSWPS/0aEofw.0
      repeatability-result:
      - accepted
    status:
      code: 201
      message: Created
version: 1
