interactions:
- request:
    body: '{"phoneNumberType": "tollFree", "assignmentType": "application", "capabilities":
      {"calling": "inbound", "sms": "inbound+outbound"}}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - ecyowPPqS6i2jEjg4ZPaHAki9yDR8IHa8lF+VXRefVM=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/countries/US/:search?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      location:
      - /availablePhoneNumbers/searchResults/e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f?api-version=2021-03-07
      ms-cv:
      - aVFMKNv9g0+UQsS/xmDYBQ.0
      operation-id:
      - search_e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f
      operation-location:
      - /phoneNumbers/operations/search_e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f?api-version=2021-03-07
      search-id:
      - e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f
      x-processing-time:
      - 2877ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/search_e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "search", "status": "running", "resourceLocation":
        "/availablePhoneNumbers/searchResults/e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f?api-version=2021-03-07",
        "createdDateTime": "2024-04-22T09:38:54.1336815+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      location:
      - /availablePhoneNumbers/searchResults/e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f?api-version=2021-03-07
      ms-cv:
      - evK+UWXi7EWfCNo6Die2RA.0
      x-processing-time:
      - 209ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/searchResults/e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f?api-version=2021-03-07
  response:
    body:
      string: '{"searchId": "e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f", "phoneNumbers":
        ["sanitized"], "phoneNumberType": "tollFree", "assignmentType": "application",
        "capabilities": {"calling": "inbound", "sms": "inbound+outbound"}, "cost":
        {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}, "searchExpiresBy":
        "2024-04-22T09:54:56.1507561+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - U8E73bv3OEKh/2A20jHCVQ.0
      x-processing-time:
      - 419ms
    status:
      code: 200
      message: OK
    url: sanitized
- request:
    body: '{"searchId": "e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f"}'
    headers:
      Content-Type:
      - application/json
      x-ms-content-sha256:
      - zBB6SzkW0kISr8vuc4MKjlc9/c325jfqcEUybBZdkgU=
    method: POST
    uri: https://sanitized.unitedstates.communication.azure.com/availablePhoneNumbers/:purchase?api-version=2021-03-07
  response:
    body:
      string: ''
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      ms-cv:
      - VvQ/vZtj+USRgr6fBEmCzg.0
      operation-id:
      - purchase_e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f
      operation-location:
      - /phoneNumbers/operations/purchase_e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f?api-version=2021-03-07
      purchase-id:
      - e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f
      x-processing-time:
      - 1038ms
    status:
      code: 202
      message: Accepted
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/operations/purchase_e0caa68f-7d0f-4090-b1c1-9c0c8ffd056f?api-version=2021-03-07
  response:
    body:
      string: '{"operationType": "purchase", "status": "running", "resourceLocation":
        null, "createdDateTime": "2024-04-22T09:38:54.1336815+00:00", "id": "sanitized",
        "lastActionDateTime": "0001-01-01T00:00:00+00:00"}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-11-15-preview, 2022-12-01,
        2022-12-02-preview2, 2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview,
        2023-10-01-preview2, 2024-03-01-preview, 2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - xAbsuXPvrUq+qqXd/cuWeQ.0
      x-processing-time:
      - 279ms
    status:
      code: 200
      message: OK
    url: sanitized
[...]
- request:
    body: null
    headers:
      x-ms-content-sha256:
      - 47DEQpj8HBSa+/TImW+5JCeuQeRkm5NMpJWZG3hSuFU=
    method: GET
    uri: https://sanitized.unitedstates.communication.azure.com/phoneNumbers/sanitized?api-version=2021-03-07
  response:
    body:
      string: '{"id": "sanitized", "phoneNumber": "sanitized", "countryCode": "US",
        "phoneNumberType": "tollFree", "capabilities": {"calling": "inbound", "sms":
        "inbound+outbound"}, "assignmentType": "application", "purchaseDate": "2024-04-22T09:39:42.4634632+00:00",
        "cost": {"amount": 2.0, "currencyCode": "USD", "billingFrequency": "monthly"}}'
    headers:
      api-supported-versions:
      - 2021-03-07, 2022-01-11-preview2, 2022-06-01-preview, 2022-12-01, 2022-12-02-preview2,
        2023-04-30-preview, 2023-05-01-preview, 2023-10-01-preview, 2024-03-01-preview,
        2024-05-01-preview, 2024-08-31-preview
      content-type:
      - application/json; charset=utf-8
      ms-cv:
      - a1Nm4bwv0k+TNkVQj0ZyXg.0
      x-processing-time:
      - 1060ms
    status:
      code: 200
      message: OK
    url: sanitized
version: 1
